* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*background:lightslategrey;*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: right;
   
}
.navb a {
    transition: .9s;
    padding: 15px;
    text-decoration: none;
    color: dodgerblue;
    font-size: 20px;
}

.navb a:hover {
    color:aliceblue;
    text-decoration: underline;
}

.home-sci a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.home-sci a .facebook {
    width: 30px;
    height: 30px;
}


img {
    width: 250px;
    height: 250px;
}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-image {
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 22px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 5px solid #031540;
}


.home-image img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    transition: transform .9s;
}
.home-image img:hover {
    transform: scale(1.12);
    opacity: .9;
}
.home-content {
    max-width: 600px;
    text-align: right;
    color: #fff;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.1;
    text-align: left;
}
.home-content h2 {
    text-align: left;
    font-size: 35px;
    color: transparent;
    -webkit-text-stroke: .7px #fff;
    background-image: linear-gradient(dodgerblue, dodgerblue);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -610px 0;
    animation: animateText 5s linear infinite;
}

@keyframes animateText {
    0%,
    95%,
    100% {
        background-position: -610px 0; 
    }

    65%,
    85% {
        background-position: 0 0;
    }

}
.home-content p {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    letter-spacing: 1px;

}

.home-sci {
    margin: 25px 0 40px;
}

.home-sci a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    transition: .9s;
}

.home-sci a:hover {
    background: dodgerblue;
    border-color:dodgerblue;
    box-shadow: 0 0 16px dodgerblue;
}

.btn {
    padding: 12px 28px;
    color: greenyellow;
    background: dodgerblue;
    border-radius: 50px;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0 0 12px dodgerblue;
    transition: .9s;
    font-weight: 500;
    
    
}

.btn:hover {
    color: #fff;
    box-shadow: none;
}